<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/head')%>
  <title>Signup Page</title>
  <style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      /* background-color: #f4f4f4; */
      background: linear-gradient(#993333, #424bb1);
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .form-container {
      background: #fff;
      padding: 40px 30px;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      max-width: 400px;
      width: 100%;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }

    .form {
      display: flex;
      flex-direction: column;
    }

    .form label {
      margin-bottom: 5px;
      color: #666;
    }

    .inputs {
      margin-bottom: 20px;
      padding: 12px 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      transition: border-color 0.3s;
    }

    .inputs:focus {
      border-color: #009688;
      outline: none;
    }

    .btn {
      padding: 12px 20px;
      border: none;
      border-radius: 5px;
      background-color: #009688;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .btn:hover {
      background-color: #00796b;
    }
  </style>
</head>

<body> 
  
  <div class="container">
    <div class="form-container">
      <h1>Login</h1>
      <form action="/user/login" method="post" class="form">

     

        <label for="email">Email</label>
        <input type="email" name="email" class="inputs" placeholder="Enter your email" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="inputs" placeholder="Enter your password" required>

        <button class="btn" type="submit">Login</button>
      </form>
    </div>

  </div>
</body>

</html>
